footer {
  position: relative;
  background-color: $brand-light;
  margin-top: $base-margin * 4;
  padding-top: $base-margin * 4;
  padding-bottom: $base-margin * 6;
  padding-left: 10px;
  padding-right: 10px;
  > .inner {
    max-width: 100%;
    @include media-breakpoint-up(md) {
      max-width: 80vw;
    }
    margin: 0 auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    @include media-breakpoint-up(lg) {
      // @media only screen and (min-width: $alloy-md-mq) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }
}
.component-ShareFooter {
  #share-container {
    .btn {
      background-color: $brand-two-lighten;
      border-color: $brand-two-lighten;

      &:hover {
        background-color: $brand-one-lighten;
        border-color: $brand-one-lighten;
      }
    }
  }
}
