input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea,
select,
button,
input[type="submit"],
.btn {
  padding: 10px $base-margin;
  border: 2px solid;
  appearance: none;
  display: inline-block;
  font-family: $font-base;
  font-size: 1rem;
  line-height: 1em;
  border-radius: $base-radius;
  margin-bottom: $base-margin;
}
button,
input[type="submit"],
.btn {
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea,
select {
  width: 100%;
  border-color: $brand-one-lighten;
  background-color: $brand-light;
  display: block;
  margin-bottom: $base-margin * 2;

  &:focus {
    outline: none;
    border-color: $brand-two;
  }
}

select {
  appearance: none;
}
.alloy-cards {
  .btn {
    margin-bottom: 0;
  }
}
//------------------------------------------------------//
// Buttons/submit
//------------------------------------------------------//
button,
input[type="submit"],
.btn {
  border-color: $brand-one-lighten;
  background-color: $brand-one-lighten;
  color: $brand-light;
  text-decoration: none;

  transition: background-color, border-color, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  &:hover {
    background-color: $brand-two;
    border-color: $brand-two;
  }
  &:focus {
    outline: none;
    border-color: $brand-one-lighten;
  }
  &:disabled,
  &[disabled] {
    background-color: $brand-grey;
    border-color: $brand-grey;
    opacity: $base-alpha;
  }

  // span {
  //   margin-right: 7px;
  //   display: inline-block;
  //   transform: translateY(-2px);
  // }
}
.btn--icon-left {
  // span {
  //   margin-left: 7px;
  //   margin-right: 0;
  // }
}
.btn--alt,
input[type="submit"] {
  background-color: $brand-two;
  border-color: $brand-two;
}
.btn--small {
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 5px 10px;
}
.btn--subtle {
  background-color: $brand-grey;
  border-color: $brand-grey;
  padding: 2px 5px;
}
.btn--large {
  font-size: 2rem;
  line-height: 1em;
  font-weight: 700;
  padding: $base-margin $base-margin * 2 $base-margin + 5px;
  margin-bottom: $base-margin;
}
.alloy-btn-group {
  display: flex;
  .btn,
  button,
  input[type="submit"] {
    margin-right: 10px;
    // flex-grow: 1;
    text-align: center;
    @include media-breakpoint-up(lg) {
      margin-right: $base-margin;
    }
  }
  > * {
  }
}
//------------------------------------------------------//
// END Buttons/submit
//------------------------------------------------------//
.alloy-form-group {
  display: flex;
  justify-content: space-between;
  > * {
    flex-grow: 1;

    &:first-child {
      margin-right: $base-margin;
    }
  }
}
//------------------------------------------------------//
// Form labels
//------------------------------------------------------//
.alloy-input-field {
  position: relative;
  label {
    font-size: 0.6rem;
    line-height: 1em;
    position: absolute;
    top: -10px;
    left: 7px;
    background-color: $brand-light;
    padding: 5px 10px;
    border-radius: $base-radius/2;
  }
}

//------------------------------------------------------//
// END Form labels
//------------------------------------------------------//
//------------------------------------------------------//
// Custom toggle slider
//------------------------------------------------------//
.toggle {
  display: inline-block;
}
.tgl {
  display: none;
  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2.3em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

.tgl-ios {
  + .tgl-btn {
    background-color: $brand-one-lighten;
    border-radius: 2em;
    padding: 5px;
    transition: all 0.4s ease;
    // border: 1px solid #e8eae9;
    &:after {
      border-radius: 2em;
      background: $brand-light;
      transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        padding 0.3s ease, margin 0.3s ease;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    }

    &:hover:after {
      will-change: padding;
    }

    &:active {
      box-shadow: inset 0 0 0 2em $brand-light;
      &:after {
        padding-right: 0.8em;
      }
    }
  }

  &:checked + .tgl-btn {
    background: $brand-two;
    &:active {
      box-shadow: none;
      &:after {
        margin-left: -0.8em;
      }
    }
  }
}
//------------------------------------------------------//
// END Custom toggle slider
//------------------------------------------------------//
.btn--icon {
  position: relative;
  padding-right: $base-margin * 2 + 10px;
  svg {
    position: absolute;
    right: $base-margin - 5px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.btn--icon-left {
  padding-left: $base-margin * 2 + 10px;
  padding-right: $base-margin;
  svg {
    position: absolute;
    left: $base-margin - 5px;
    right: auto;
  }
}
