* {
  box-sizing: border-box;
}
body {
  background-color: $brand-one;
  font-size: 16px;
  line-height: 1.4em;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: $base-margin;
}
//------------------------------------------------------//
// Pages
//------------------------------------------------------//
.alloy-page {
  max-width: 700px;
  margin: 0 auto;
}
//------------------------------------------------------//
// END Pages
//------------------------------------------------------//
