header {
  position: relative;
  padding-top: $base-margin * 2;
  padding-bottom: $base-margin * 2;

  @include media-breakpoint-up(lg) {
    padding-bottom: $base-margin * 4;
  }
  background-color: $brand-light;
  text-align: center;

  svg#header-animation {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(95%);
    width: 100%;
    height: auto;
  }
  h1 {
    position: relative;
    z-index: 1000;
    margin: 0px $base-margin * 2;
    display: inline-block;
    color: $brand-light;
    @include responsive-font(4vw, 35px, 150px, 50px);
    text-shadow: makelongshadow($brand-one-lighten, $brand-two-lighten);
    line-height: 1em;
  }
  h2 {
    color: $brand-light;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 1vw;
  }
}
.alloy-slide-nav {
  width: 100%;
  max-width: 400px;
  position: fixed;
  background-color: $brand-one;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 30px;
  z-index: 3000;

  opacity: 0;
  transform: translateX(100%);
  transition: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  overflow-y: auto;
  height: 100%;

  nav {
    margin-bottom: $base-margin * 2;
    > * {
      font-family: $font-header;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1em;
      display: block;
      color: $brand-light;
      // text-transform: uppercase;
      text-decoration: none;
      padding: 10px 0;
    }
  }
  .alloy-cards.cta {
    background-color: $brand-two-lighten;

    &[data-cta-type="cta--alt"] {
      background-color: $brand-two;
    }
  }
}
#alloy-nav-toggle {
  position: fixed;
  top: $base-margin * 2;
  @include media-breakpoint-up(lg) {
    top: 15vh;
  }
  right: 0;
  z-index: 4000;
  background-color: $brand-one-lighten;

  width: 60px;
  height: 52px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: $base-margin;

  .inner {
    position: relative;
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $brand-light;
    border-radius: 0;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }

    &:nth-child(4) {
      top: 20px;
    }
  }

  &.show {
  }
}

[data-show-nav="true"] {
  .alloy-slide-nav {
    transform: translateX(0);
    opacity: 1;
  }
  #alloy-nav-toggle {
    span {
      &:nth-child(1) {
        top: 10px;
        width: 0;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 18px;
        width: 0;
        left: 50%;
      }
    }
  }
}
