//------------------------------------------------------//
// Items
//------------------------------------------------------//
.alloy-cards {
  background-color: $brand-light;
  border-radius: $base-radius;
  position: relative;
  overflow: hidden;

  > .inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
//------------------------------------------------------//
// General item styling
//------------------------------------------------------//
.alloy-items {
  cursor: pointer;
  transition: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  box-shadow: 2px 2px 30px 0 rgba($brand-dark, $base-alpha/2);

  &:hover {
    transform: scale(1.03);
  }
  .alloy-content {
    pointer-events: none;

    padding: 10px;
    @include media-breakpoint-up(lg) {
      // @media only screen and (min-width: $alloy-md-mq) {
      padding: $base-margin;
    }
    color: rgba($brand-dark, 0.15);
    // color: $brand-light;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-block;

    // Toggle stuffalign-content
    p {
      margin: 0;
    }
    a {
      color: $brand-light;
      line-height: 1em;
      float: left;
    }
    .alloy-meta {
      text-transform: capitalize;
    }
    .alloy-meta,
    a {
      font-size: 0.8rem;
      @include media-breakpoint-down(xs) {
        font-size: 10px;
      }
    }
    h3 {
      @include media-breakpoint-down(sm) {
        font-size: 18px;
        margin-bottom: 0;
      }
      @include media-breakpoint-down(xs) {
        font-size: 13px;
      }
    }
    h6 {
      text-transform: uppercase;
      margin: 0;
      // @include media-breakpoint-down(sm) {
      //   margin-bottom: 5px;
      // }
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
    .report {
      float: right;
    }
  }
  &[data-view="simple"] {
    .alloy-meta {
      font-size: 14px;
    }
    h3 {
      font-size: inherit !important;
    }
  }
  button {
    position: absolute;
    bottom: $base-margin;
    right: $base-margin;
  }
  // END Toggle stuffalign-content
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}

// END General item styling
//------------------------------------------------------//
// 🛠 Advanced item styling
//------------------------------------------------------//
.alloy-items {
  &[data-type="decks"],
  &[data-type="trucks"],
  &[data-type="wheels"] {
    .alloy-content {
      transform: translateY(30px);
      background-color: transparent;
      transition: opacity, transform, background-color, color;
      transition-duration: 500ms;
      transition-delay: 300ms;
      transition-timing-function: ease;
    }
    .item-title {
      margin-bottom: $base-margin;
    }

    &:hover {
      .alloy-content {
        background-color: lighten($brand-one, 20%);
        transform: translateY(0);
        pointer-events: auto;
        color: $brand-light;
        opacity: 1;
      }
    }
  }
}

.showAllInfo {
  [data-type="decks"],
  [data-type="trucks"],
  [data-type="wheels"] {
    .alloy-content {
      background-color: lighten($brand-one, 20%);
      transform: translateY(0);
      pointer-events: auto;
      color: $brand-light;
      opacity: 1;
    }
  }
}
[data-type="trucks"],
[data-type="wheels"] {
  .item-title {
    font-size: 1em;
    line-height: 1em;
  }
}

// END 🛠 Advanced item styling

[data-view="simple"] {
  .alloy-content {
    margin-left: 110px;
    @include media-breakpoint-up(lg) {
      margin-left: 150px;
    }
    width: auto;
    opacity: 1;
    background-color: transparent;
    color: $brand-dark;
    position: relative;
    a {
      color: $brand-dark;
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    @include media-breakpoint-up(lg) {
      width: 150px;
    }
    display: inline-block;
    // object-fit: none;
    // height: 100%;
  }
}
//------------------------------------------------------//
// END Items
//------------------------------------------------------//
.alloy-empty-state-svg {
  stroke: $brand-grey;
}
