//------------------------------------------------------//
// Items
//------------------------------------------------------//
.alloy-cards {
  background-color: $brand-light;
  border-radius: $base-radius;
  position: relative;
  overflow: hidden;

  > .inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.alloy-items {
  cursor: pointer;
  transition: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  box-shadow: 2px 2px 30px 0 rgba($brand-dark, $base-alpha/2);

  &:hover {
    transform: scale(1.03);
  }
  .alloy-content {
    pointer-events: none;

    padding: 10px;
    @include media-breakpoint-up(lg) {
      // @media only screen and (min-width: $alloy-md-mq) {
      padding: $base-margin;
    }
    color: $brand-light;
    background-color: lighten($brand-one, 20%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    opacity: 0;
    transition: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease;

    p {
      margin: 0;
    }
    a {
      color: $brand-light;
    }
    .alloy-meta {
      text-transform: capitalize;
    }
    .alloy-meta,
    a {
      font-size: 0.8rem;
      @include media-breakpoint-down(xs) {
        font-size: 10px;
      }
    }
    h3 {
      @include media-breakpoint-down(sm) {
        font-size: 18px;
        margin-bottom: 0;
      }
      @include media-breakpoint-down(xs) {
        font-size: 13px;
      }
    }
    h6 {
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        margin-bottom: 5px;
      }
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
    .report {
      float: right;
    }
  }
  &[data-view="simple"] {
    .alloy-meta {
      font-size: 14px;
    }
    h3 {
      font-size: inherit !important;
    }
  }
  button {
    position: absolute;
    bottom: $base-margin;
    right: $base-margin;
  }

  // Toggle stuffalign-content
  &:hover,
  &[data-info="true"] {
    .alloy-content {
      pointer-events: auto;
      opacity: 1;
    }
  }
  // END Toggle stuffalign-content
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}
.showAllInfo {
  .alloy-content {
    pointer-events: auto;
    opacity: 1;
  }
}
[data-view="simple"] {
  .alloy-content {
    margin-left: 110px;
    @include media-breakpoint-up(lg) {
      margin-left: 150px;
    }
    width: auto;
    opacity: 1;
    background-color: transparent;
    color: $brand-dark;
    position: relative;
    a {
      color: $brand-dark;
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    @include media-breakpoint-up(lg) {
      width: 150px;
    }
    display: inline-block;
    // object-fit: none;
    // height: 100%;
  }
}
//------------------------------------------------------//
// END Items
//------------------------------------------------------//
.alloy-empty-state-svg {
  stroke: $brand-grey;
}
