pre {
  background-color: $brand-light;
  max-width: 100%;
}
body {
  font-family: $font-base;
  font-size: 16px;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
  line-height: 1.5em;
  font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  line-height: 1.3em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: $base-margin;
}
footer {
  padding-top: $base-margin * 2;
  padding-bottom: $base-margin * 3;
}
.centered {
  text-align: center;
}
.emoji {
  font-size: 100px;
  line-height: 1.4em;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
  line-height: 1.2em;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1em;
}
h6 {
}
p {
}
.alloy-text-light {
  color: $brand-light;
}
a {
  color: $brand-one-lighten;
}
