body {
  font-family: $font-base;
  font-size: 16px;
  line-height: 1.5em;
  font-smoothing: antialiased;
}
@include media-breakpoint-up(lg) {
  body {
    font-size: 18px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: $base-margin;
}
h1 {
}

footer,
header {
  padding-top: $base-margin * 2;
  padding-bottom: $base-margin * 3;
  h1,
  h2 {
    margin: 0;
    line-height: 1em;
  }
  h1 {
    color: $brand-light;
    @include responsive-font(4vw, 35px, 150px, 50px);
  }
  h2 {
    color: $brand-light;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 1vw;
  }
}
.centered {
  text-align: center;
}
.emoji {
  font-size: 100px;
  line-height: 1.4em;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1em;
}
h6 {
}
p {
}
.alloy-text-light {
  color: $brand-light;
}
